body {
    background-color: #dce2df;
}
button{
    margin-top:5px;
}

#imgCabecera{
	width:100%;
	height:100%;
}

/*OCULTAR MENU*/
#resultadoListados, #panelMensajes
{
    display:none;
}

#panelCuenta, #panelConductor
{
    display:none;
    width:100%;
}

#panelCuenta input
{
    float:left;
    margin-left: 25%;
}

.invisible{
    display:none;
}


/*************/

#frmClienteModificar #comboCliente, #frmClienteBaja #comboCliente {
    background-color: #87CEFA;
}